* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Didact Gothic', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'News Cycle', sans-serif;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

header {
    background-color: #FDDEF1;
    color: #000;
    padding: 10px 0;
}

nav {
    float: right;
}

footer {
    background-color: #F6F6F6;
    color: #000;
    padding: 15px;
}

#logo {
    float: left;
    font-size: 200%;
}

/* ----------------------------------- navigation stuff --------------------------- */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #faf3f7;
}

.content {
    padding: 50px 0;
    text-align: center;
}

/* style for active navigation bar */
.active {
    background-color: #faf3f7;
}

/* -------------------------------image stuff------------------------------------ */
.fade-in-image {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}